.movie-card__button_delete {
	width: 100px;
	height: 29px;
	border: none;
	padding: 0;
	outline: none;
	transition: 0.1s linear 0.1s;
	border-radius: 30px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 11px;	
	cursor: pointer;
	margin: 18px auto;
	background: #f4f4f4 50% 50%;
}

.movie-card__button_delete::after {
	content: url(../../images/movies-button-icon.svg);
}

.movie-card__button_delete:hover {
	opacity: 0.9;
	background: #ee3465;
	color: #fff;
}

.movie-card__button_delete:active {
	background: #ee3465;
}

.movie-card__button_delete:active::after {
	content: url(../../images/movies-button-icon.svg);
}