.form__profile {
  max-width: 410px;
  margin: 0 auto;
}

.submit__button-profile {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  margin: 10px 0 0;
}

.submit__button-profile:hover {
	opacity: 0.8;
  cursor: pointer;
}

.submit__button-profile_disabled {
  opacity: 0.4;
}

.submit__button-profile_disabled:hover {
  cursor: unset;
  opacity: 0.4;
}

.form__inputs {
	max-width: 410px;
  padding: 0;
  margin: 0 auto;
  border: 0;
}

.form__exit {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ee3465;
  text-decoration: none;
  transition: 0.3s linear;
}

.form__exit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin: 74px auto 123px;
}

.form__item-profile {
  font-size: 11px;
  line-height: 13px;
  padding: 0;
  text-align: end;
  background: #fafafa;
  border: 0;
  align-items: center;
  margin: 0;
}

.form__item-profile:focus {
  border: 0;
  color: #3456F3;
}

.form__field-profile {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  text-align: start;
}

.form__input-container-profile {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
	border-bottom: none;
  margin-bottom: 0;  
}

.form__input-container-profile:first-child {
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 17px;
}

.form__item-profile_error {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #ff004c;
}

.form__profile_span {
  display: block;
  margin-bottom: 10px;
}

.form__item-message {
  font-size: 13px;
  line-height: 16px;
  margin: 10px 0 16px;
}

@media screen and (max-width: 450px) {
	.form__profile {
		max-width: 260px;
	}
}

@media screen and (max-width: 320px) {
	.form__heading-profile {
	margin: 70px auto 80px;
	}

	.submit__button-profile {
		font-size: 12px;
		line-height: 15px;
		margin: 380px 0 16px;
	}
}
