.header__logo {
	background: url(../../images/logo.svg) 50% no-repeat;
	width: 38px;
	height: 38px;
}

.header__logo_active {
	transition: all .7s ease;
}

.header__logo_active:hover {
	transform: rotate(90deg) scale(0.9);	
	opacity: 0.8;
}

.header__logo_active:active {
	opacity: 0.5;
}