.header-nav {
	display: flex;
	align-items: center;
}

.header-nav__movies {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	margin: 0 16px 0 44px;
	transition: 0.1s linear 0.1s;
	display: block;
}

.header-nav__movies:hover {
	opacity: 0.8;
	cursor: pointer;
}

.header-nav__saved-movies {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-decoration: none;
	transition: 0.1s linear 0.1s;
	display: block;
}

.header-nav__saved-movies:hover {
	opacity: 0.8;
	cursor: pointer;
}

.header-auth {
	display: flex;
	align-items: center;
}

.header-auth__register {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: #ffffff;
	text-decoration: none;
	margin-right: 30px;
	transition: 0.1s linear 0.1s;
}  

.header__profile {
	background: url(../../images/profile.svg) center no-repeat;
	background-size: cover;
	width: 11px;
	height: 14px;
	display: block;
}

.header__menu {
	background: url(../../images/menu.svg) center no-repeat;
	background-size: cover;
	width: 44px;
	height: 44px;
	padding: 0;
	transition: 0.1s linear 0.1s;
	display: none;
}

.header__menu:hover {
	opacity: 0.8;
	cursor: pointer;
}  